{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/hotel-bg.jpeg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Hotels</h1>
            <span class="subheading">Choose Hotel</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {% if quantity: %}

          <h2>{{ hotel }}</h2>

          <h3>{{ description }}</h3>
          <br> <br>
       <!-- Add image here using Flask's url_for -->
        <div style="margin-bottom: 20px;">
            <img src="{{ url_for('static', filename='img/payment_scan.jpeg') }}" alt="Descriptive Text" style="width: 200px; height: auto;">
        </div>

              <!--            Payment details-->
          <h3>PAYMENT DETAILS</h3>
          <p style="margin: 5px 0;">Name : ISKCON</p>
          <p style="margin: 5px 0;">Bank : BANK OF BARODA</p>
          <p style="margin: 5px 0;">Branch : RAJ NAGAR,GZB</p>
          <p style="margin: 5px 0;">IFSC : BARB0RAJNAG</p>
          <p style="margin: 5px 0;">A/C No. : 21860100007028</p>
          <p style="margin: 5px 0 20px;">A/C Type : Saving</p>

          {% if hotel == 'Naklank Building 1' or hotel == 'Naklank Building 2' or hotel == 'Chinmaya Dham' %}

              <h3 style="color: red;">Total Rooms Available: {{ quantity.quantity }}</h3>
              <h3 style="color: red;">Rooms Already Booked: {{ '%.2f' | format(quantity.booked - quantity.cancelled) }}</h3>

          {% else %}

              <h3 style="color: red;">Total Beds Available: {{ quantity.quantity }}</h3>
              <h3 style="color: red;">Beds Already Booked: {{ quantity.booked - quantity.cancelled }}</h3>

          {% endif %}
          <h3 style="color: red;">Discount Available: Rs. {{ discount_per_head }} per head</h3>
          <form action="{{url_for ('book_room')}}" method="post">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <input type="hidden" name="user_id" value="{{ current_user.id }}" />
              <input type="hidden" name="user_name" value="{{ current_user.name }}" />
              <input type="hidden" name="user_area" value="{{ current_user.area }}" />
              <input type="hidden" name="user_mobile" value="{{ current_user.mobile }}" />
              <input type="hidden" name="user_email" value="{{ current_user.email }}" />
              <input type="hidden" name="area_leader" value="{{ current_user.area_leader }}" />
              <input type="hidden" name="hotel" value="{{ hotel }}" />
              <input type="hidden" name="description" value="{{ description }}" />
              <input type="hidden" name="already_booked" value="{{ quantity.booked }}" />
              <input type="hidden" name="discount_per_head" value="{{ discount_per_head }}" />
              <input type="hidden" name="type_of_room" value="{{ type_of_room }}" />


              {% if hotel == 'Naklank Building 1' or hotel == 'Naklank Building 2' %}

                    <label for="room_type">Room Type:</label>


                    {% if type_of_room == 'complete_room' and hotel == 'Naklank Building 1' %}
                    <select id="room_type" name="room_type">
                    <option value="Double">2 bed</option>
                    <option value="Triple">2 bed + 1 matrs / 3 bed</option>
                    </select><br>
                        <label for="quantity_booked">Select the number of rooms:</label>
                        <input type="hidden" name="booking_type" value="complete room" />
                    {% elif type_of_room == 'complete_room' and hotel == 'Naklank Building 2' %}
                    <select id="room_type" name="room_type">
                    <option value="Double">2 bed</option>
                    <option value="Triple">2 bed + 1 matrs</option>
                    </select><br>
                        <label for="quantity_booked">Select the number of rooms:</label>
                        <input type="hidden" name="booking_type" value="complete room" />
                    {% else %}
                    <select id="room_type" name="room_type">
                    <option value="Double">2 bed</option>
                    <option value="Triple">2 bed + 1 matrs / 3 bed</option>
                    </select><br>
                        {% if type_of_room == 'bed_prjis' %}
                            <label for="quantity_booked">Select the number of beds (prjis):</label>
                            <input type="hidden" name="booking_type" value="prjis bed" />
                        {% else %}
                            <label for="quantity_booked">Select the number of beds (matajis):</label>
                            <input type="hidden" name="booking_type" value="matajis bed" />
                        {% endif %}
                    {% endif %}

<!--For Chinmaya Dham-->
              {% elif hotel == 'Chinmaya Dham' %}

                    <label for="room_type">Room Type:</label>


                    {% if type_of_room == 'complete_room_3_days' or type_of_room == 'complete_room_2_days' %}
                    <select id="room_type" name="room_type">
                    <option value="Double">2 bed</option>
                    <option value="Triple">2 bed + 1 matrs</option>
                    </select><br>
                        <label for="quantity_booked">Select the number of rooms:</label>
                        <input type="hidden" name="booking_type" value="{{type_of_room}}" />
                    {% else %}
                    <select id="room_type" name="room_type">
                    <option value="Double">2 bed</option>
                    <option value="Triple">2 bed + 1 matrs</option>
                    </select><br>
                        {% if type_of_room == 'bed_prjis_3_days' or type_of_room == 'bed_prjis_2_days' %}
                            <label for="quantity_booked">Select the number of beds (prjis):</label>
                            <input type="hidden" name="booking_type" value="{{type_of_room}}" />
                        {% else %}
                            <label for="quantity_booked">Select the number of beds (matajis):</label>
                            <input type="hidden" name="booking_type" value="{{type_of_room}}" />
                        {% endif %}
                    {% endif %}

<!--For Naklank Building 3-->
              {% else %}
                    <input type="hidden" name="room_type" value="sharing" />
                    <label for="booking_type">Beds for:</label>
                    <select id="booking_type" name="booking_type">
                    <option value="prjis bed">Prjis</option>
                    <option value="matajis bed">Matajis</option>
                    </select><br>
                    <label for="quantity_booked">Select the number of beds:</label>
<!--                    <input type="hidden" name="room_type" value="Sharing" />-->
              {% endif %}

              {% if hotel == 'Naklank Building 1' and type_of_room != 'complete_room' %}
                  <input type="number" id="quantity_booked" name="quantity_booked" min="1" data-max="{{ max_quantity*2 }}" required><br>
              {% elif hotel == 'Naklank Building 1' %}
                  <input type="number" id="quantity_booked" name="quantity_booked" min="1" data-max="{{ max_quantity }}" required><br>
              {% else %}
                  <input type="number" id="quantity_booked" name="quantity_booked" min="1" max="{{ quantity.quantity - quantity.booked + quantity.cancelled }}" required><br>
              {% endif %}

              <label for="number_of_children">Number of Children (5-9 yrs age):</label>
              <select id="number_of_children" name="number_of_children">
                  {% for i in range(0, 20) %}
                    <option value="{{ i }}">{{ i }}</option>
                  {% endfor %}
              </select><br>




              <label for="amount_paid">Amount Paid:</label>
              <input type="number" id="amount_paid" name="amount_paid" value="0" min="0" step="1" oninput="this.value = Math.floor(this.value)" required><br>
              <label for="transaction_date">Transaction Date:</label>
              <input type="date" id="transaction_date" name="transaction_date"><br>
              <label for="utr">UTR / Cash Receipt Number:</label>
              <input type="text" id="utr" name="utr"><br>
              <label for="remarks">Remarks, if any:</label>
              <input type="text" id="remarks" name="remarks"><br>
              <input type="submit">
          </form>

        {% elif message: %}

          <h2>{{ hotel }}</h2>

          <h3>{{ description }}</h3>

            <p style="color:red">Rooms already Booked in this particular category</p>

        {% elif hotel: %}
            <h2>{{ hotel }}</h2>

            <form action="{{url_for ('do_booking')}}" method="post">

              <label for="description">Choose a Room type:</label>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input type="hidden" name="hotel" value="{{ hotel }}" />
                <select id="description" name="description">
                  {% for choice in choices %}
                        <option value="{{ choice }}">{{ choice }}</option>
                  {% endfor %}

                </select>
                {% if hotel == 'Naklank Building 1' or hotel == 'Naklank Building 2' %}
                    <br>
                    <label for="type_of_room">Want complete room OR individual beds:</label>
                    <select id="type_of_room" name="type_of_room">
                    <option value="complete_room">Complete Room</option>
                    <option value="bed_prjis">Individual beds for Prjis</option>
                    <option value="bed_matajis">Individual beds for Matajis</option>
                    </select>
                {% elif hotel == 'Chinmaya Dham' %}
                    <br>
                    <label for="type_of_room">Want complete room OR individual beds:</label>
                    <select id="type_of_room" name="type_of_room">
                    <option value="complete_room_3_days">Complete Room (3 days)</option>
                    <option value="complete_room_2_days">Complete Room (2 days)</option>
                    <option value="bed_prjis_3_days">Individual beds for Prjis (3 days)</option>
                    <option value="bed_prjis_2_days">Individual beds for Prjis (2 days)</option>
                    <option value="bed_matajis_3_days">Individual beds for Matajis (3 days)</option>
                    <option value="bed_matajis_2_days">Individual beds for Matajis (2 days)</option>
                    </select>
                {% elif hotel == 'Naklank Building 3' %}
                    <input type="hidden" name="type_of_room" value="sharing" />
                {% endif %}
              <button type="submit">
                  Submit
              </button>
          </form>

        {% else: %}

                {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        {% endif %}

      </div>
    </div>
  </div>

  <hr>

{% if x == 1 and hotel == 'Naklank Building 1' %}
<script>
    // Get references to the room type select element, hotel select element, and the quantity input element
    var roomTypeSelect = document.getElementById('room_type');
    var quantityInput = document.getElementById('quantity_booked');

    // Add event listener to the room type select element
    roomTypeSelect.addEventListener('change', updateMaxQuantity);

    // Function to update max quantity based on selected room type
    function updateMaxQuantity() {
        // Retrieve the selected room type
        var selectedRoomType = roomTypeSelect.value;

        // Set the max attribute of the quantity input element based on the selected room type
        if (selectedRoomType === 'Double') {
            // Calculate the lesser of '{{ naklank1_double_bed_max_count - naklank1_double_bed_count }}' and 'data-max'
            var maxQuantity = Math.min(
                {{ naklank1_double_bed_max_count - naklank1_double_bed_count }},
                quantityInput.getAttribute('data-max')
            );
            // Set the max attribute of the quantity input element
            quantityInput.setAttribute('max', maxQuantity);
        } else {
            // Retrieve the max_quantity value from the data-max attribute
            var maxQuantity = quantityInput.getAttribute('data-max');
            quantityInput.setAttribute('max', maxQuantity);

        }
    }

    // Call the function initially to set the max quantity based on initial selection
    updateMaxQuantity();
</script>
{% endif %}

{% include "footer.html" %}
{% endblock %}
