{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/hotel-bg.jpeg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Hotels</h1>
            <span class="subheading">Book Your Stay</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">


<!--        {% for hotel in hotels: %}-->
<!--            <p>{{ hotel.id }}</p>-->
<!--            <p>{{ hotel.name }}</p>-->
<!--            <p>{{ hotel.type }}</p>-->
<!--        {% endfor %}-->
<!--      -->
        {% block page_content %}
          <div class="page-header">
              <h1>Category Details</h1>
<!--               <form method="POST" action="/hotel">-->
<!--                   <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />-->
<!--        <label for="category">Select Room Category:</label>-->
<!--        <select name="category" id="category" onchange="this.form.submit()">-->

<!--            <option value="">All Categories</option>-->
<!--            {% for category in room_categories %}-->
<!--                <option value="{{ category[0] }}" {% if selected_category == category[0] %}selected{% endif %}>{{ category[0] }}</option>-->
<!--            {% endfor %}-->
<!--        </select>-->
<!--    </form>-->
                  <table class="table">
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Name</th>
                          <th>Description of Room</th>
<!--                          <th>Category of Room</th>-->
<!--                          <th>Total Number of Beds / Rooms</th>-->
<!--                          <th>Beds / Rooms Available</th>-->
                            <th>Yatra Price (Adult)</th>
                            <th>Yatra Price (Child)</th>

                      {% if current_user.id == 1: %}
                            <th>Action</th>
                      {% endif %}
<!--                          <th>Occupancy of Each Room / Hall</th>-->
                        </tr>
                      </thead>
                      <tbody>
                          {% for category in categories: %}
                            <tr>
                                <td>{{ category.id }}</td>
                                <td>{{ category.name }}</td>
                                <td>{{ category.description }}</td>
                                <td>Rs. {{ category.price_yatra }}/- per adult</td>
                                <td>Rs. {{ category.price_yatra_child }}/- per child (5-10yrs)</td>



                            {% if current_user.id == 1: %}
                                <td>
                                    <form action="/update_hotel_details" method="post">
                                         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                         <input type="hidden" name="category_id" value="{{ category.id }}">
                                         <input type="hidden" name="form_purpose" value="passing_id_for_update">
                                         <button type="submit" class="btn btn-warning btn-sm">Edit</button>
                                </form>
                                </td>
                            {% endif %}

                            </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
        {% endblock %}


      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
