{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/home-bg.jpeg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>SP-3C Facilitators Training Camp</h1>
            <span class="subheading">NEVER STOP LEARNING</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <div class="post-preview">
<!--          <p>This is the Post</p>-->

                    <h2 class="post-title">
                      <p>Srila Prabhupada Congregation Coordination Committee (SP-3C)</p>
                    </h2>
        <!--            <h3 class="post-subtitle">-->
        <!--              <p>This is the subtitle</p>-->
        <!--            </h3>-->
                    <p style="justify-content:center"> SP-3C started under the leadership of HG Sundar Gopal Prabhuji, with a vision to make Happy Devotees, More Devotees & Contributing Devotees</p>
                    <p>Congregational devotees of various parts of Northern & Western Indian, are participants in this forum. The areas include, but not limited to, Ghaziabad, Badaun, Bareilly, Rudrapur, Pilukhwa, Delhi (SNS & NS), Gaya, Moradabad, Ludhiana, Kathwada, Sahibabad, Shahjahan pur and Yamuna Nagar</p>
                  </p>


        </div>
        <hr>


      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}
