{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<!--<style>-->

<!--  /* Custom CSS to adjust the width of the image container */-->
<!--  .masthead {-->
<!--    background-size: cover; /* Ensure the background image covers the entire container */-->
<!--    background-position: center;-->
<!--  }-->
<!--    /* Adjust padding and margins */-->
<!--  .custom-container {-->
<!--    padding: 0 5px; /* Add padding to the sides */-->
<!--  }-->

<!--  .custom-row {-->
<!--    margin-right: -15px; /* Offset the negative margin from the container */-->
<!--    margin-left: -15px; /* Offset the negative margin from the container */-->
<!--  }-->
<!--</style>-->

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/hotel-bg.jpeg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Hotels</h1>
            <span class="subheading">Review Your Booking</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-3">

        {% if bookings: %}

            <div class="table-responsive">
                <table class="table">

                      <thead>
                        <tr>
                          <th>Date of Booking</th>
                          <th>Hotel Name</th>
                          <th>User Name</th>
                          <th>Area</th>
                          <th>Room Type</th>
                          <th>Room Booked</th>
                          <th>Status</th>
                          <th>Amount Paid</th>
                          <th>Transaction Date</th>
                          <th>Ref / UTR No</th>
                          <th>Action</th>
                        </tr>
                      </thead>

                      <tbody>
                        {% for booking in bookings: %}

                             <tr>
                                <td>{{ booking.date_time[:10] }}</td>
                                <td>{{ booking.hotel }}</td>
                                <td>{{ booking.user_name }}</td>
                                <td>{{ booking.user_area }}</td>
                                <td>{{ booking.room_type }}</td>
                                <td>{{ booking.number_of_room_booked }}</td>
                                 <td>{{ booking.status }}</td>
                                 <td>{{ booking.amount_paid }}</td>
                                 <td>{{ booking.transaction_date }}</td>
                                 <td>{{ booking.utr_receipt_number }}</td>
                                 <td>
                                     {% if booking.status != "Cancelled" %}
                                     <form id="cancel-booking-form-{{ booking.id }}" action="/cancel_booking" method="post">
                                         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                         <input type="hidden" name="booking_id" value="{{ booking.id }}">
                                         <input type="hidden" name="hotel" value="{{ booking.hotel }}">
                                         <input type="hidden" name="number_of_room_booked" value="{{ booking.number_of_room_booked }}">
                                         <button type="button" class="btn btn-danger btn-sm" onclick="confirmCancellation({{ booking.id }})">Cancel</button>
                                     </form>
                                     {% endif %}
                                     <br>
                                     {% if booking.status == "To be verified": %}
                                     <form action="/update_booking" method="post">
                                         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                         <input type="hidden" name="booking_id" value="{{ booking.id }}">
<!--                                         <input type="hidden" name="hotel" value="{{ booking.hotel }}">-->
                                         <input type="hidden" name="form_purpose" value="publish_for_update">
                                         <button type="submit" class="btn btn-warning btn-sm">Update</button>
                                     </form>
                                     {% endif %}
                                 </td>

                             </tr>
                        {% endfor %}
                      </tbody>

                </table>
            </div>

          <script>
            function confirmCancellation(bookingId) {
                if (confirm("Are you sure you want to cancel this booking?")) {
                document.getElementById("cancel-booking-form-" + bookingId).submit();
                }
            }
          </script>
        {% else: %}

            <p>You have not made any booking</p>

         {% endif %}

      </div>
    </div>
  </div>


  <hr>
{% include "footer.html" %}
{% endblock %}