{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/hotel-bg.jpeg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Hotels</h1>
            <span class="subheading">Update Detail</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">


          <form method="POST" action="{{ url_for('update_hotel_details') }}">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <input type="hidden" name="category_id" value="{{ category.id }}">

          <!-- Example field for category ID (assuming 'id' is the field name) -->
          <div class="form-group">
            <label for="category_name">Category Name</label>
            <input type="text" class="form-control" id="category_name" name="category_name" value="{{ category.name }}" readonly>
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description" value="{{ category.description }}" readonly>
          </div>

<!--          <div class="form-group">-->
<!--            <label for="category">Category</label>-->
<!--            <input type="text" class="form-control" id="category" name="category" value="{{ category.category }}" >-->
<!--          </div>-->

<!--          <div class="form-group">-->
<!--            <label for="quantity">Total Quantity</label>-->
<!--            <input type="text" class="form-control" id="quantity" name="quantity" value="{{ category.quantity }}" readonly>-->
<!--          </div>-->

          <div class="form-group">
            <label for="booked">Booked</label>
            <input type="text" class="form-control" id="booked" name="booked" value="{{ category.booked }}" readonly>
          </div>

          <div class="form-group">
            <label for="cancelled">Cancelled</label>
            <input type="text" class="form-control" id="cancelled" name="cancelled" value="{{ category.cancelled }}" readonly>
          </div>

          <div class="form-group">
            <label for="price_yatra">Yatra Price</label>
            <input type="text" class="form-control" id="price_yatra" name="price_yatra" value="{{ category.price_yatra }}" >
          </div>

<!--          <div class="form-group">-->
<!--            <label for="price_2_day">Price for 2 day</label>-->
<!--            <input type="text" class="form-control" id="price_2_day" name="price_2_day" value="{{ category.price_2_day }}" >-->
<!--          </div>-->


          <!-- Example field for guest name -->


          <!-- Add more fields for other booking details -->

          <!-- Submit button to update booking -->
              <input type="hidden" name="form_purpose" value="update_hotel_details">
          <button type="submit" class="btn btn-primary">Update Details</button>
        </form>



      </div>
    </div>
  </div>

  <hr>
{% include "footer.html" %}
{% endblock %}
