{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/hotel-bg.jpeg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h2>SP-3C June, 2024 Yatra Bookings</h2>
            <span class="subheading"></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-3">

        {% if bookings: %}
            <div class="table-responsive">
                <table class="table">
                      <thead>
                        <tr>
                          <th>Booking ID</th>
                          <th>User</th>
                          <th>Area</th>
                          <th>Area Leader</th>
                          <th>Email</th>
                          <th>Mobile</th>
                          <th>Hotel</th>
                          <th>Room Type</th>
                          <th>Booking Type</th>
                            <th>Booked Qty</th>
                            <th>Child Count (>10 yrs)</th>
                            <th>Amount Payable</th>
                            <th>Discount</th>
                            <th>Amount Paid-1</th>
                            <th>Amount Paid-2</th>
                            <th>Amount Paid-3</th>
                            <th>Amount Pending</th>
                            <th>Transactions Date</th>
                            <th>Ref Numbers</th>
                            <th>Status</th>
<!--                            <th>Verifn Date</th>-->
                            <th>Cancellation Date</th>
                            <th>Room No</th>
                            <th>Remarks</th>
                        </tr>
                      </thead>

                      <tbody>
                        {% for booking in bookings: %}

                             <tr>
                                <td>{{ booking.id }}</td>
                                <td>{{ booking.user_name }}</td>
                                 <td>{{ booking.user_area }}</td>
                                 <td>{{ booking.area_leader }}</td>
                                 <td>{{ booking.user_email }}</td>
                                 <td>{{ booking.user_mobile }}</td>
                                <td>{{ booking.hotel }}</td>
                                <td>{{ booking.room_type }}</td>
                                <td>{{ booking.booking_type }}</td>
                                <td>{{ booking.number_of_room_booked }}</td>
                                 <td>{{ booking.number_of_children }}</td>
                                 <td>{{ booking.amount_payable }}</td>
                                 <td>{{ booking.discount }}</td>
                                 <td>{{ (booking.amount_paid | int(0)) }}</td>
                                 <td>{{ (booking.amount_2 | int(0)) }}</td>
                                 <td>{{ (booking.amount_3 | int(0)) }}</td>
                                 <td>{{ booking.amount_pending }}</td>
                                <td>{{ booking.transaction_date }},
                                     {% if booking.trn_dt_2 is not none %}{{ booking.trn_dt_2 }}{% else %}''{% endif %},
                                     {% if booking.trn_dt_3 is not none %}{{ booking.trn_dt_3 }}{% else %}''{% endif %}
                                 </td>

                                 <td>{{ booking.utr_receipt_number }},
                                     {% if booking.utr_2 is not none %}{{ booking.utr_2 }}{% else %}''{% endif %},
                                     {% if booking.utr_3 is not none %}{{ booking.utr_3 }}{% else %}''{% endif %}
                                 </td>
                                 <td>{{ booking.status }}</td>
<!--                                 <td>{{ booking.verification_date }}</td>-->
                                 <td>{{ booking.cancellation_date }}</td>
                                 <td>{{ booking.room_no }}</td>
                                 <td>{{ booking.remarks }}</td>

                             </tr>
                        {% endfor %}
                      </tbody>
                </table>
            </div>
        {% else: %}

            <p>No bookings have been made yet</p>

         {% endif %}

          <!-- Add button for downloading data -->
         <div class="text-center">
            <a href="{{ url_for('download_data_excel') }}" class="btn btn-primary">Download Excel</a>
         </div>
          <br>
          {% if current_user.id == 1 %}
            <div class="text-center">
            <a href="{{ url_for('download_hotel_booking_status') }}" class="btn btn-primary">Hotel Booking Status</a>
         </div>
          {% endif %}

      </div>
    </div>
  </div>

  <hr>
{% include "footer.html" %}
{% endblock %}
