{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/hotel-bg.jpeg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h2>SP-3C June, 2024 Yatra Bookings</h2>
            <span class="subheading"></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-3">

        {% if bookings: %}
            <div class="table-responsive">
                <table class="table">
                      <thead>
                        <tr>
                          <th>User</th>
                          <th>Area</th>
                          <th>Email</th>
                          <th>Mobile</th>
                          <th>Hotel</th>
                          <th>Type</th>
                            <th>Rooms/Beds Booked</th>
                            <th>Amount Paid</th>
                            <th>Transaction Date</th>
                            <th>Ref Number</th>
                            <th>Status</th>
                            <th>Cancellation Date</th>
                            <th>Room No</th>
                        </tr>
                      </thead>

                      <tbody>
                        {% for booking in bookings: %}

                             <tr>
                                <td>{{ booking.user_name }}</td>
                                 <td>{{ booking.user_area }}</td>
                                 <td>{{ booking.user_email }}</td>
                                 <td>{{ booking.user_mobile }}</td>
                                <td>{{ booking.hotel }}</td>
                                <td>{{ booking.room_type }}</td>
                                <td>{{ booking.number_of_room_booked }}</td>
                                 <td>{{ booking.amount_paid }}</td>
                                 <td>{{ booking.transaction_date }}</td>
                                 <td>{{ booking.utr_receipt_number }}</td>
                                 <td>{{ booking.status }}</td>
                                 <td>{{ booking.cancellation_date }}</td>
                                 <td>{{ booking.room_no }}</td>

                             </tr>
                        {% endfor %}
                      </tbody>
                </table>
            </div>
        {% else: %}

            <p>No bookings have been made yet</p>

         {% endif %}
      </div>
    </div>
  </div>

  <hr>
{% include "footer.html" %}
{% endblock %}